<% provide(:title, 'Forgot password') %>
<div class="row">
  <div class="col m6 offset-m3">
    <h3>Forgot password</h3>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>