- provide(:title, @user.name)
.row
  .col.s4
    .user_info
      %h1
        = gravatar_for @user, { size: 50 }
        = @user.name
      .section
        = link_to 'Sudoku', boards_path, class: 'btn btn-flat'